.container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  padding-left: calc(#{$container-gap} / 2);
  padding-right: calc(#{$container-gap} / 2);
  margin: 0 auto;

  @media (max-width: #{screen(xl)}) {
    max-width: #{screen(lg)};
  }

  @media (max-width: #{screen(lg)}) {
    max-width: #{screen(md)};
  }

  @media (max-width: #{screen(md)}) {
    max-width: #{screen(sm)};
  }

  @media (max-width: #{screen(sm)}) {
    max-width: #{screen(xs)};
  }
}
