.container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media (min-width: #{screen(xxs)}) {
    max-width: #{screen(xs)};
  }

  @media (min-width: #{screen(xs)}) {
    max-width: #{screen(sm)};
  }

  @media (min-width: #{screen(sm)}) {
    max-width: #{screen(md)};
  }

  @media (min-width: #{screen(md)}) {
    max-width: #{screen(lg)};
  }

  @media (min-width: #{screen(lg)}) {
    max-width: #{screen(xl)};
  }

  @media (min-width: #{screen(xl)}) {
    max-width: #{screen(xxl)};
  }

  @media (min-width: #{screen(xxl)}) {
    max-width: #{screen(retina)};
  }

  @media (min-width: #{screen(retina)}) {
    max-width: #{screen(retina)};
  }
}
