// FONTS
$user-font: 'Arial', sans-serif;

// COLORS
$white: #ffffff;
$black: #000000;

// BREAKPOINTS
$breakpoints: (
  retina: 2560px,
  xxl: 1920px,
  xl: 1440px,
  lg: 1200px,
  md: 1024px,
  sm: 768px,
  xs: 576px,
  xxs: 320px
);
