.secondary-button {
  padding: 20px 20px;
  background-color: var(--secondary-300);
  color: var(--secondary-300-contrast);
  border-radius: 15px;

  &:hover {
    background-color: var(--secondary-400);
  }
}
